@font-face{
	font-family: teddy;
	font-display: swap;
	src: url("../fonts/teddy-bear.woff2") format("woff2"), url("../fonts/teddy-bear.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: sunday;
	font-display: swap;
	src: url("../fonts/sunday.woff2") format("woff2"), url("../fonts/sunday.woff") format ("woff");
	font-weight: 400;
	font-style: normal;
}
